extends layout

block content 
    br
    br
    .container  
        h1 Add New Agent

        form.row.g-6(action="/admin/add" method = 'POST')
            .col-md-3
                label.form-label(for='inputagentid') Agent Id
                input#inputagentid.form-control(type='number' name='AgentId')
            .col-md-3
                label.form-label(for='inputfirstname') First Name
                input#inputfirstname.form-control(type='text' name='AgtFirstName')
            .col-md-3
                label.form-label(for='inputmiddlename') Middle Initial 
                input#inputmiddlename.form-control(type='text' name='AgtMiddleInitial') 
            .col-md-3
                label.form-label(for='inputlastname') Last Name
                input#inputlastname.form-control(type='text' name='AgtLastName')
            .col-md-3
                label.form-label(for='inputbusinessphonenumber') Business Phone
                input#inputbusinessphonenumber.form-control(type='text' name='AgtBusPhone')
            .col-md-3
                label.form-label(for='inputemail') Email
                input#inputbusinessphonenumber.form-control(type='text' name='AgtEmail' placeholder='helloword@email.com')
            .col-md-3
                label.form-label(for='inputposition') Agent Position
                input#inputposition.form-control(type='text' name='AgtPosition' placeholder='Senior/Intermediate/Junior')
            .col-md-3
                label.form-label(for='inputagencyid') AgencyId 
                input#inputagencyid.form-control(type='number' name='AgencyId' placeholder='1 or 2') 
            .col-md-3
                button.btn.btn-primary.btn-lg(type='submit') Add Now  