//- 
  // --------------------------- Cancellation.pug file --------------------------- //

  //**
     * Name: Fariha Siddiqui
     * Student ID: 000880957
     * Date: 12-08-2021
     * Purpose: THREADED PROJECT OF PROJ-009-004
     ** //

  // ---------------------------------------------------------------------------- //

extends layout

block content
    title Cancellation Policy

    // --------------------------- Banner --------------------------- //

    .banner

        .card-img-overlay

        .container
            #singleblog-contain-inner
            #single-blog-contain
            .single-blog-text-contain

            br
            br
            br
            br
            br
            br

            // --------------------------- CANCELLATION POLICY --------------------------- //

            // --------------------------- Published Date --------------------------- //

            h4 
            i Published on 30 May 2021
            h1 Cancellation Policy
            
            p
            span(style='font-weight: 400;')
                | Travel Expert is a major travel agency that is engaged to serve an extensive range of domestic as well as international travellers. If you are willing to cancel your booking with us, then before proceeding it is recommended to get information about Travel Expert Cancellation Policy.
                br
                br

            span(style='font-weight: 400;')
                | We understand that sometimes, unexpected delays can occur, making schedule adjustments. If you need to cancel your booking, we respectfully request at least 48 hours notice.
                | We know your time is valuable, and ours is too. Out of respect for our staff and our other customers, we ask that you give us at least 48 hours notice if you need to cancel an booking.
                br
                br

            span(style='font-weight: 400;')
                | Travel Expert gives the facility to cancel your bookings online without any hassles. Also, cancellations can only be done when you are cancelling your booking within the active span of time. Travel Expert does not provide a refund on cancellations. You can easily cancel your booking by logging in to your Travel Expert account.
                br
                br
            h2
            span(style='font-weight: 1000; font-size: 20px') 1. Cancellation Policy

            p
            span(style='font-weight: 400;')
                | Paying attention to the needs and situations of the travellers, Travel Expert introduces cancellation policy that provides more flexibility and benefits for the customers while managing their booking.
            h3
            span(style='font-weight: 900;') Booking Cancellation
            p
            span(style='font-weight: 400;')
                | When you make a booking with us, you are holding a space on our calendar that is no longer available to our other customers. In order to be respectful of your fellow travellers, please contact us as soon as you know you will not be able to travel.
                br
                br                
                | As per Travel Expert Cancellation Policy, customers can cancel a booking booked on Travel Expert anytime before start of the Trip.
                br
                br
            span(style='font-weight: 400;')
                | If cancellation is necessary, we require that you cancel in advance. Bookings are in high demand, and your advanced notice will allow another travellers access to that booking.
            
            // --------------------------- How to Cancel Bookings? --------------------------- //
            
            h3
            span(style='font-weight: 900;') How to Cancel Your Booking?
            p
            span(style='font-weight: 400;')
                | If you have reserved a booking with Travel Expert, but due to some urgency, you need to cancel it, You can make cancellations in two ways - Online or In-person. You need your Booking Number ready to enter or provide to the travel agent to begin the cancellation process.

                | If you need to cancel your appointment, please call us at +1-(403)-271-9872 between 10 am to 4 pm (working days). If necessary, you may leave a detailed voicemail message. We will return your call as soon as possible.

            // --------------------------- METHOD 1 to Cancel Bookings --------------------------- //

            p.p3
            span.s1
                strong Method #1: Online Cancellation:
            p.p4
            img(src='/images/canellation.jpg' alt='cancellation-online-image')

            p.p3
            span.s1
                em
                strong Step #1: 
                |  Run any web browser on your computer. Visit the Travel Expert website. Hit on the 'Please Login' button in the navigation bar of the web page. Enter your Travel Expert login credentials. Hit the 'Log In' button.


            p.p3
            span.s1
                em
                strong Step #2:
                |  After logging in, Hit on the 'My Bookings' option in the navigation bar of the web page. You will see all your past and upcoming bookings listed on the page.


            p.p3
            span.s1
                em
                strong Step #3:
                |  Double-click on the Booking Number that you would like to Cancel. Another page opens where you will see all the details of the specific booking you opened.

            p.p3
            span.s1
                em
                strong Step #4:
                |  Hit the 'Cancel' button and it will cancel you booking, setting the status of your booking to 'Inactive'.


            // --------------------------- METHOD 2 to Cancel Bookings --------------------------- //

            br
            br
            p.p3
            span.s1
                strong Method #2: In-person Cancellation:
            p.p4
            img(src='/images/visit-us.jpg' alt='cancellation-visit-us-image')

            p.p3
            span.s1
                em
                strong Step #1:
                |  Travel Expert has its branches in two different locations. You can visit our 'Locations' page on the website and find the travel agency nearest to you.


            p.p3
            span.s1
                em
                strong Step #2:
                |  Visit the Travel Agency with your Booking Number and original ID proof, and our experts will cancel the booking for you.

            br
            br
            br
            h3

            // --------------------------- Late Cancellation Policy --------------------------- //

            span(style='font-weight: 1000; font-size: 20px') 2. Late Cancellations
            p
            span(style='font-weight: 400;')
                | A cancellation is considered late when your trip has started. The option to cancel your booking will become unavailable once the active span of time has exceeded. Your booking can only be cancelled if your trip has not started yet. The two methods to cancel your booking are shown above. In either case, Travel Expert does not provide a refund on cancellations.
                br
                br
