
extends layout

block content 
    br
    br
    .container
        h1 Workshop 1 Content goes to here
        h1  Below is an MongoChart as an Demo
        
            iframe(style='background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);' width='640' height='480' src='https://charts.mongodb.com/charts-travelexpert-jthyx/embed/charts?id=63c0b2a6-6530-47b4-ba0b-301755e51318&theme=light')
     
            iframe(style='background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);' width='640' height='480' src='https://charts.mongodb.com/charts-travelexpert-jthyx/embed/charts?id=57378074-4132-4e48-a980-44c85ceb4966&autoRefresh=300&theme=light')
        
            iframe(style='background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);' width='640' height='480' src='https://charts.mongodb.com/charts-travelexpert-jthyx/embed/charts?id=0bb63991-91c7-4623-995e-0e805c41f0a9&autoRefresh=300&theme=light')
            
            iframe(style='background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);' width='640' height='480' src='https://charts.mongodb.com/charts-travelexpert-jthyx/embed/charts?id=cfa35a3c-8f92-4a91-be91-77fadb80680a&autoRefresh=300&theme=light')
            
            iframe(style='background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);' width='640' height='480' src='https://charts.mongodb.com/charts-travelexpert-jthyx/embed/charts?id=40b48150-c43a-446b-a02b-98ec78699135&autoRefresh=3600&theme=dark')
            
            iframe(style='background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);' width='640' height='480' src='https://charts.mongodb.com/charts-travelexpert-jthyx/embed/charts?id=4cdcc862-5f9b-4eb8-b6fc-23848c20802b&autoRefresh=3600&theme=dark')
        
