//- extends layout

//- block content
//-   h1= message
//-   h2= error.status
//-   pre #{error.stack}

extends layout

block content
  title Error

 
    // End of Navbar
    .banner
      .card.bg-dark.text-white
        img#mybanner.card-img(src='/images/pexels-alexandr-podvalny-1003864.jpg' alt='marketing')
        .card-img-overlay
          h5.card-title Sorry, but the requested page was not found.
          p.card-text Please explore some of our great offers.
