//- //Written by Mohammadmehdi Noroozi(Mehdi)

extends layout



block content
  title Gallery
  // Marketing section





  .banner
    .card.bg-dark.text-white
      img#mybanner.card-img(src='/images/marketinggallery.png' alt='marketing')
      .card-img-overlay

  // Gallery
  .row.mt-2
    .col-lg-4.col-md-12.mb-4.mb-lg-0
      img.w-100.shadow-1-strong.rounded.mb-4(src='/images/Africa.jpg' alt='')
      img.w-100.shadow-1-strong.rounded.mb-4(src='/images/Canada.jpg' alt='')
    .col-lg-4.col-md-12.mb-4.mb-lg-0
      img.w-100.shadow-1-strong.rounded.mb-4(src='https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg' alt='')
      img.w-100.shadow-1-strong.rounded.mb-4(src='/images/Caribbean.jpg' alt='')
    .col-lg-4.col-md-12.mb-4.mb-lg-0
      img.w-100.shadow-1-strong.rounded.mb-4(src='/images/mexico.jpg' alt='')
      img.w-100.shadow-1-strong.rounded.mb-4(src='https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg' alt='')
    .col-lg-4.col-md-12.mb-4.mb-lg-0
      img.w-100.shadow-1-strong.rounded.mb-4(src='/images/Africa2.jpg' alt='')
      img.w-100.shadow-1-strong.rounded.mb-4(src='https://mdbootstrap.com/img/Photos/Vertical/mountain1.jpg' alt='')
    .col-lg-4.mb-4.mb-lg-0
      img.w-100.shadow-1-strong.rounded.mb-4(src='https://mdbootstrap.com/img/Photos/Vertical/mountain2.jpg' alt='')
      img.w-100.shadow-1-strong.rounded.mb-4(src='/images/US.jpg' alt='')
    .col-lg-4.mb-4.mb-lg-0
      img.w-100.shadow-1-strong.rounded.mb-4(src='https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg' alt='')
      img.w-100.shadow-1-strong.rounded.mb-4(src='https://mdbootstrap.com/img/Photos/Vertical/mountain3.jpg' alt='')

