doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    // Bootstrap styling
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
    // Customize styling
    link(rel='stylesheet' href='/stylesheets/style.css')
    // Bootstrap JavaScript
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')
    title Home Page


  body

    // Navbar
    nav.navbar.navbar-expand-lg.navbar-dark.fixed-top.navbar-custom
      .container
        a.navbar-brand(href='/') Travel Expert
        // toggle for mobile devices
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#mymenue')
          span.navbar-toggler-icon
        #mymenue.collapse.navbar-collapse
          ul.navbar-nav.ms-auto

            li.nav-item
              a.nav-link(href='/') Home
            li.nav-item
              a.nav-link(href='/gallery') Gallery
            //- li.nav-item
            //-   a.nav-link(href='/packages') Packages
    
            li.nav-item
              a.nav-link(href='/contact') Contact us

            li.nav-item.dropdown
             a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false') Registration/Log-in
             ul.dropdown-menu(aria-labelledby='navbarDropdown')
               li
                 a.dropdown-item(href='/users/login') Log-in
               li
                 a.dropdown-item(href='/users/sign-up') Sign-up
            
            li.nav-item.dropdown
             a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false') Admin Page
             ul.dropdown-menu(aria-labelledby='navbarDropdown')
              li
                 a.dropdown-item(href='/admin/') Dashboard 
              li
                 a.dropdown-item(href='/admin/agentlist') Agent List
               

            form#mysearch.d-flex
              input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
              button#sub_button.btn.btn-outline-success(type='submit') Search
              
    
      //- li.nav-item//
      if currentUser
        span.mt-2.text-white| Welcome Back #{currentUser.username}           
        //- a(href="/log-out") Log Out
        a.btn.btn-warning.ms-2(href='/log-out' role='button') Log Out
      else
        //- a(href="/users/login") Please Login
        a.btn.btn-primary.me-2(href='/users/login' role='button') Please Login
        
            
    // End of Navbar
  
    
    block content



    // Footer
    footer.text-center.text-lg-start.text-muted.mt-5.customfootercolor
      // Section: Social media
      section.d-flex.justify-content-center.justify-content-lg-between.p-4.border-bottom

      
        .container.text-center.text-md-start.mt-5
          // Grid row
          .row.mt-3
            // Grid column
            .col-md-3.col-lg-4.col-xl-3.mx-auto.mb-4
              // Content
              h6.text-uppercase.fw-bold.mb-4
                i.fas.fa-gem.me-3
                | TravelExpert
              p
                | Everyone needs an occasional escape. Uncover a world of vacations with 
                | TraveExpert's packages and trip ideas.
            // Grid column
            // Grid column
            .col-md-2.col-lg-2.col-xl-2.mx-auto.mb-4
              // Links
              h6.text-uppercase.fw-bold.mb-4
                | Packages
              p
                a.text-reset(href='/packages') Caribbean New Year
              p
                a.text-reset(href='/packages') Polynesian Paradise
              p
                a.text-reset(href='/packages') Asian Expedition
              p
                a.text-reset(href='/packages') European Vacation
            // Grid column
            // Grid column
            .col-md-3.col-lg-2.col-xl-2.mx-auto.mb-4
              // Links
              h6.text-uppercase.fw-bold.mb-4
                | links
              p
                a.text-reset(href='/packages') Pricing
 
              p
                a.text-reset(href='/packages') Orders
              p
                a.text-reset(href='#!') Help
            // Grid column

            // Grid column
            .col-md-4.col-lg-3.col-xl-3.mx-auto.mb-md-0.mb-4
              // Links
              h6.text-uppercase.fw-bold.mb-4
                | Contact
              p
                
                |Calgary, 155 8th Ave SW, Canada
              p
                
                  a.text-reset(href='info@travelexpert.com') info@travelexpert.com
              p
                
                | +1 403 271 9872

            // Grid column
          // Grid row
      // Section: Links
      // Copyright
      .text-center.p-4(style='background-color: rgba(0, 0, 0, 0.05);')
        | &copy; 2021 Copyright: 
        a.text-reset.fw-bold(href='/') travelexpert.com
      // Copyright
    // Footer

