//- //Written by George(Xiaoyin Zhou)

extends layout

block content 
    br
    br
    br

    .container
        
        br
        br
        br
        br


        h3 Hello Manager, Below is Mongo Chart for Demo
            br
            hr

            iframe(style='background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);' width='640' height='480' src='https://charts.mongodb.com/charts-travelexpert-jthyx/embed/charts?id=6112cf35-550c-4ad2-8fb9-4e61c9e74654&theme=light')
            iframe(style='background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);' width='640' height='480' src='https://charts.mongodb.com/charts-travelexpert-jthyx/embed/charts?id=6112cf35-550c-4855-8d5a-4e61c9e74656&theme=light')
            iframe(style='background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);' width='640' height='480' src='https://charts.mongodb.com/charts-travelexpert-jthyx/embed/charts?id=6112cf35-550c-417c-8d7b-4e61c9e74666&theme=light')
            iframe(style='background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);' width='640' height='480' src='https://charts.mongodb.com/charts-travelexpert-jthyx/embed/charts?id=6112cf35-550c-4b14-8b2a-4e61c9e7465e&theme=light')
            iframe(style='background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);' width='640' height='480' src='https://charts.mongodb.com/charts-travelexpert-jthyx/embed/charts?id=6112cf35-550c-48fc-8f9d-4e61c9e7465c&theme=light')
            iframe(style='background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);' width='640' height='480' src='https://charts.mongodb.com/charts-travelexpert-jthyx/embed/charts?id=6112cf35-550c-4d1d-86c8-4e61c9e7465a&theme=light')
            iframe(style='background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);' width='640' height='480' src='https://charts.mongodb.com/charts-travelexpert-jthyx/embed/charts?id=6112cf35-550c-483f-8d49-4e61c9e74660&theme=light')
            iframe(style='background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);' width='640' height='480' src='https://charts.mongodb.com/charts-travelexpert-jthyx/embed/charts?id=6112cf35-550c-4d1d-8977-4e61c9e74664&theme=light')
            iframe(style='background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);' width='640' height='480' src='https://charts.mongodb.com/charts-travelexpert-jthyx/embed/charts?id=6112cf35-550c-474e-8e53-4e61c9e74668&theme=light')
            iframe(style='background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);' width='640' height='480' src='https://charts.mongodb.com/charts-travelexpert-jthyx/embed/charts?id=6112cf35-550c-40d0-81a8-4e61c9e74662&theme=light')
        
