extends layout

block content
    // Marketing section
    .banner
      .card.bg-dark.text-white
        img#mybanner.card-img(src='/images/marketing.jpg' alt='marketing')
        .card-img-overlay
         
          h5.card-title City breaks to suit every style!
          p.card-text
            | Make the most of your vacation time with our selection  
            br
            |of getaway options fit for summer fu
           

    #mypackage.container
      h1= packageList .PkgName
        .card-group.gap-3
          if packageList
            .card.mt-5               
                img.card-img-top(src=packageList .imagpath alt='canada')
                .card-body
                  //- h1.card-title= packageList .PkgName
                  h2.card-text= packageList.PkgDesc
                  h3.card-text
                    | Price: #{packageList .PkgBasePrice}
                  a.btn.btn-primary(href='/package-buy/'+ packageList.PackageId)  Buy 

